/*
 * osprogram.h
 *
 *  Created on: Apr 16, 2015
 *      Author: Kevin
 */

#ifndef OSPROGRAM_H_
#define OSPROGRAM_H_

#include "../fast_utils.h"
#include "../thread.h"
#include "../file.h"
#include <stdint.h>

<~syscall_decls~>

#endif /* OSPROGRAM_H_ */
