/*
 * osprogram.h
 *
 *  Created on: Apr 16, 2015
 *      Author: Kevin
 */

#ifndef OSPROGRAM_H_
#define OSPROGRAM_H_

#include "../fast_utils.h"
#include "../thread.h"
#include "../file.h"
#include <stdint.h>

#define STDIN (0)
#define STDOUT (1)
#define STDERR (2)

void s_puts(const char * str);
void s_putc(char c);

<~syscall_decls~>

#endif /* OSPROGRAM_H_ */
